{% for type, messages in app.flashes %}
    <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
        <p class="font-bold">{{ type }}</p>
        <p class="text-sm"></span> {{ messages | join('. ')}}</p>
    </div>
{% endfor %}